.container {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoCard {
  display: grid;
  width: 85%;
  height: 75%;
  max-width: 1000px;
  position: relative;
  grid-template-areas:
    "poster info info "
    "poster info info "
    "cast cast cast";
  background-color: #3d3c3f;
  gap: 20px;
  border-radius: 10px;
  max-height: 800px;
  overflow: auto;
}

.poster {
  grid-area: poster;
  justify-self: center;
  align-items: center;
  margin: 10px;
  min-height: 300px;
  min-width: 200px;
  max-width: 400px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 100);
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}
.play {
  position: absolute;
  left: 25%;
  top: 30%;
}
.play:hover {
  scale: 1.1;
}
.info {
  grid-area: info;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "title title close"
    "description description description"
    "rating rating rating"
    "sources sources sources";
}
.title {
  grid-area: title;
  justify-self: start;
  margin-bottom: 0px;
  text-align: left;
  font-size: 30px;
  width: 100%;
  border-bottom: 2px solid rgb(92, 92, 92);
}
.close {
  grid-area: close;
  justify-self: right;
  align-items: start;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
.description {
  grid-area: description;
  justify-self: start;
  align-items: start;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 24px;
  width: 70%;
  border-bottom: 2px solid rgb(92, 92, 92);
}
.rating {
  grid-area: rating;
  justify-self: start;
  align-items: start;
  margin-top: 0px;
}

.cast {
  grid-area: cast;
  display: flex;
  overflow: scroll;
  align-items: baseline;
  gap: 5px;
  border: 1px solid rgb(88, 88, 88);
  box-shadow: inset 1px 1px 10px black;
  padding-top: 25px;
}
@media screen and (max-width: 800px) {
  .infoCard {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    max-width: 85%;
    max-height: 90%;
    background-color: #3d3c3f;
    gap: 20px;
    border-radius: 10px;
    overflow: scroll;
  }
  .cast {
    width: 100%;
    min-height: 300px;
  }
}
