.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(49,49,51,255);
  }
  .list {
    display: flex;
    margin-top: 15vh;
    flex-wrap: wrap;
    height: 85vh;
    width: 100vw;
    overflow: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    background:rgba(49,49,51,255);
    background-repeat: no-repeat;
    background-size: auto;
  }
  .list::-webkit-scrollbar {
    display: none;
  }
  .backButton{
    display: flex;
    position: absolute;
    top: 120px;
    left: 3px;
  }
  .backButton button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius:10px;
  }
  .pageControl{
    display:flex;
    justify-content: flex-end;
    width: 100vw;
    gap: 10px;
    margin-right: 45px;
  
  }
  .pageControl button{
    background-color: rgba(100,98,252,255);
    border-radius: 5px;
    border:none;
    border-top: 2px solid rgb(139, 141, 226);
    height: 40px;
    width: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    cursor: pointer;
  }
  