.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(49,49,51,255);
  }
  .list {
    display: flex;
    margin-top: 15vh;
    flex-wrap: wrap;
    height: 85vh;
    width: 100vw;
    overflow: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    background:rgba(49,49,51,255);
    background-repeat: no-repeat;
    background-size: auto;
  }
  .list::-webkit-scrollbar {
    display: none;
  }
  .backButton{
    display: flex;
    position: absolute;
    top: 120px;
    left: 3px;
  }
  .backButton button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius:10px;
  }