.catagories-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left:0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  background: rgba(49,49,51,255);
  background-repeat:no-repeat;
  background-size:auto;
  margin-top:150px;
}
.catagories{
    width: 100%;
    max-width: 500px;
    height: 45px;
    margin: 0px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.catagories:hover {
    transform: scale(1.1,1.1);
    background: linear-gradient(90deg, rgb(19, 19, 19) 60%, rgb(66, 66, 66) 80%);
    cursor: pointer;
}
.catagories:focus {
    transform: scale(1.1,1.1);
    background: linear-gradient(90deg, rgb(19, 19, 19) 60%, rgb(66, 66, 66) 80%);
    cursor: pointer;
    border: none;
}
