@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap");

.container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  flex-direction: column;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.list {
  display: flex;
  gap: 30px;
  margin-right: 15px;
}
.list li {
  list-style-type: none;
  color: whitesmoke;
  font-size: 18px;
  border-radius: 18px;
}
.list li:hover {
  transform: scale(1.5, 1.5);
}
.nav {
  margin-left: -5px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-right: 25px;
}
.nav-list li {
  list-style-type: none;
  margin-left: 0px;
  font-weight: bold;
  color: white;
  font-family: "Gemunu Libre", sans-serif;
  cursor: pointer;
}
.nav-list li:hover {
  transform: scale(1.1, 1.1);
}
